@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

:root {
    --navyblue: #03045e;
    --darkcornflowerblue: #023e8a;
    --starcommandblue: #0077b6;
    --skybluecrayola: #48cae4;
}

*{
    margin: 0;
    padding: 0;
    font-size: 30px;
}

html {
    width: 100vw;
}

body {
    background-color: #f6f6f6;
    color: black;
    margin: auto;
}

header, main {
    margin: 5px;
}

/*----------------------Header---------------------- */

header {
    display: flex;
}

.left-header {
    position: relative;
    width: 400px;

}

.right-header {
    width:70%;
    margin-top: 80px;
}

img {
    width: 239px;
    margin: 20px;
}

.frame {
    position: absolute;
    top: 30px;
    left: 8px;
    width: 235px;
    height: 235px;
    border: 4px solid var(--starcommandblue);
    z-index: -1;
}

h1 {
    font-family: 'Barlow', sans-serif;
    letter-spacing: 10px;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 2px solid #2a0a5e;
}

h2 {
    font-family: 'Anonymous Pro', monospace;
}

h1, h2 {
    color: var(--navyblue);
}

h1, h2, h3 {
    text-transform: uppercase;
}

p{
    font-family: 'Anonymous Pro', monospace;
    font-size: 0.7rem;
    color: #727880;
}

/*----------------------Main---------------------- */

main{
    display: flex;
    gap: 3rem;
}

/*-----------Contacts----------- */
.contacts, .contacts-mobile {
    background-image: linear-gradient(to bottom right, #023e8a, #48cae4);
    color: white;
    width: 265px;
    text-align: center;
}

.contacts-mobile {
    display: none;
}

.contacts h2 {
    color: white;
    margin-top: 90px;
    border-bottom: 2px solid white;
}

h4{
    font-family: 'Oswald', sans-serif;
    font-size: 0.5rem;
    letter-spacing: 2px;
}

a{
    display: block;
    font-size: 0.5rem;
    font-weight: bold;
    color: white;
}

.contacts div {
    margin-top: 50px;
    padding: 5px;
}

.toggle-button {
    position: absolute;
    top: .15rem; 
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

/*-----------Skillset----------- */

.skillset {
    margin-left: 30px;
}

.skillset h2 {
    font-weight: bold;
    font-size: 1.3rem;
    border-bottom: 2px solid var(--navyblue);
}

h3{
    font-family: 'Oswald', sans-serif;
    font-size: 0.9rem;
    color: var(--navyblue);
}

ul {
    font-size: 40px;
    margin: 50px;
}

li {
    font-family: 'Anonymous Pro', monospace;
    list-style-type: none;
    font-size: 0.7rem;
    columns: grey;
    padding-left: 10px;
}

li:first-child {
    margin-top: 20px;
}

/*----------------------Mobile phone responsive---------------------- */

@media (max-width: 480px){

    header, main{
        flex-direction: column;
        margin: 0;
    }

    header {
        margin: auto;
        text-align: center;
    }

    .left-header, .right-header {
        width: 100%;
        align-items: center;
    }
    
    .frame {
        display: none;
    }

    .contacts {
        display: none;
    }

    .contacts-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        top: 0;
        width: 100%;
        letter-spacing: .3rem;
    }

    .contacts-mobile h2 {
        color: white;
        text-align: left;
        font-weight: normal;
        margin: 0 0 0 10px;
    }

    .contacts-mobile-inner {
        display: none;
        flex-direction: column;
        margin-left: 50px;
    }

    .contacts-mobile-inner div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 15px 0;
    }

    .contacts-mobile-inner h4{
        margin-left: 50px;
        font-weight: normal;
    }

    .toggle-button {
        display: flex;
    }

    .toggle-button .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

    .contacts-mobile-inner.active {
        display: flex;
    }

}

@media (max-width: 390px) {
    .contacts-mobile h2 {
        letter-spacing: normal;
    }

    .contacts-mobile-inner.active {
        margin: 5px;
    }

    .contacts-mobile-inner.active h4 {
        margin: 10px;
        letter-spacing: normal;
    }

    h1 {
        font-size: inherit;
        margin: 0 0 20px 0;
    }

    img {
        width: 70%;
        margin: 0 0 20px 0;
    }

    .right-header {
        margin: 20px 0 20px 0;
    }

    .right-header p {
        margin: 0 0 20px 0;
    }
}

@media (max-width: 42mm) {

    .left-header, .right-header {
        margin: 0;
    }

    .contacts-mobile {
        width: 100vw;
    }

    .contacts-mobile h2 {
        font-size: .4rem;
    }
    .toggle-button {
        width: 10px;
        height: 5px;
    }

    .contacts-mobile-inner.active {
        margin: 0;
        width: 158px;
    }

    .contacts-mobile-inner.active div {
        height: 25%;
        margin: 0;
    }

    .contacts-mobile-inner.active div h4 {
        margin: 0;
        font-size: .3rem;
        font-weight: lighter;
        letter-spacing: 0;
    }
}